<div class="container">

    <% if policy(Booking).create? %>

      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @booking.status %></h5>
          <p class="card-text">Thank you for your booking. We will confirm your reservation as soon as possible.</p>
          <%= link_to 'Back to my bookings', bookings_path(@booking.toilet)%>
        </div>
      </div>

    <% end %>

</div>
