<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1567936996693-b374b6b88c1c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=700&fit=crop&ixid=eyJhcHBfaWQiOjF9) ;">
  <div class="container">
    <h1> <strong>The Pooples</strong> </h1>
    <p>Peace, quiet and privacy at your fingertips.</p>
    <%= link_to "See our toilets nearby", toilets_path, class: "btn btn-flat" %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Don't forget to wipe <i class="fas fa-heart"></i> we're watching
  </div>
</div>
