<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://coretanzania.org/wp-content/uploads/2017/12/latrine_collage-2.jpg);">
  <div class="container">
    <h1> <strong>The Pooples</strong> </h1>
    <p>Peace, quiet and privacy at your fingertips.</p>
    <%= link_to "Book now", toilets_path, class: "btn btn-flat" %>
    <%= link_to "Start now", "#", class: "btn btn-gradient" %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Don't forget to wipe <i class="fas fa-heart"></i> we're watching
  </div>
</div>
