<div class="container">
  <% if policy(Toilet).create? %>
    <button type="button" class="btn btn-outline-primary mt-3 mb-3"><%= link_to "Submit my toilets", new_toilet_path %></button>
  <% end %>
  <div class="row row-cols-1 row-cols-md-2">
    <% @toilets.each do |toilet| %>
      <div class="col mb-4">
        <div class="card">
          <img src="https://source.unsplash.com/XatMS2NXIpo/800x450" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= toilet.name.upcase%></h5>
            <p class="card-text"><%= toilet.description %></p>
            <%= link_to toilet_path(toilet), class: 'card-link' do %>
              <% if toilet.user == current_user %>
                See my reservations
              <% else %>
                Book now!
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

